//BLOCK 7

.section-faq {
  background: url("../img/faq-bg.jpg") fixed no-repeat;
  background-size: cover;
  padding-top: 2em;
  .section-header {
    margin-bottom: 3.5em;
  }
  .faq-ribbon {
    padding: 1.5em 0;
    background: url("../img/faq-ribbon-bg.jpg") center no-repeat;
    background-size: cover;
    margin-top: 3em;
    .text-block {
      font-family: 'LatoWebSemibold', sans-serif;
      font-size: 2em;
      margin-right: 1em;
    }
    .btn {
      vertical-align: bottom;
    }
  }
}

//TREE
//colors
$tree-header-color: #03859B;
$child-bg: #bbbbba;
$plus-color: #b6b6b6;
$children-list-color: #626262;

.tree-header-color {
  color: $tree-header-color;
}

.tree {
  .glyphicon-plus, .fa-plus {
    color: $plus-color;
  }
  .glyphicon-minusá .fa-minus {
    color: $tree-header-color;
  }
  .query {
    font-family: 'LatoWebSemibold', sans-serif;
    color: $tree-header-color;
    padding-left: 2em;
    display: inline-block;
    max-width: 90%;
  }
  .tree-patent-well {
    padding: 0;
    margin-top: .8em;
  }
  .tree-child-well {
    display: flex;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0 0 0 3em;
    height: 3.3em;
    .query {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      line-height: 1;
    }
    .glyphicon, .fa {
      margin-left: -2em;
      //margin-top: -1px;
      height: 100%;
      position: absolute;
      padding-top: 1.1em;
      border-right: 1px solid lightgray;
      padding-right: 1em;
    }
    &:hover {
      border: none !important;
      -webkit-box-shadow: 0 0 0 1px $gray-lighter;
      -moz-box-shadow: 0 0 0 1px $gray-lighter;
      box-shadow: 0 0 0 1px $gray-lighter;
    }
  }
  .children-list {
    color: $children-list-color;
  }
  .sub-tree {
    background-color: $child-bg;
  }
  .sub-tree-list {
    li {
      list-style-type: decimal;
      display: block !important;
    }
  }
  li {
    margin: 0;
    padding: 10px 5px 0;
    position: relative;
    span {
      position: relative;
      display: inline-block;
      width: 100%;
      text-decoration: none;
      + ul {
        background: $child-bg;
      }
      + ul li {
        display: none;
        list-style-type: disc;
        &:nth-last-child(1) {
          padding-bottom: 10px;
        }
      }
    }
    &:last-child::before {
      height: 30px;
    }
    &.parent_li > span {
      cursor: pointer;
    }
  }
}