//BLOCK-3 features
.section-features {

  padding-top: 3.6em;
  @media all and (max-width: $screen-sm-min) {
    padding-top: 1.6em;
  }
  .section-header {
    margin-bottom: 2em;
  }

  //features-1
  .features-1 {
    /*    @media all and (max-width: $screen-sm-max) {
          background: url("../img/features-block1-bg.jpg") no-repeat right;
          background-size: 50%;
        }*/
    @media all and (max-width: $screen-md-max) {
      font-size: 12px;
    }
    @media all and (max-width: $screen-md-min) {
      background: url("../img/features-block1-bg.jpg") no-repeat right;
      background-size: cover;
    }
    .wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .features-1-img-block {
      background: url("../img/features-block1-bg.jpg") no-repeat center;
      padding-top: 80%;
      background-size: contain;
      display: inline-block;
      vertical-align: bottom;
      width: 60%;
      position: absolute;
      right: -15px;
      bottom: -50%;
      @media all and (max-width: $screen-lg-min) {
        bottom: -40%;
      }
      @media all and (max-width: $screen-md-min) {
        display: none;
      }
    }
    //background: url("../img/features-block1-bg.jpg") no-repeat right -50%;

  }
  .features-list {
    list-style: none;
    font-size: 1.5em;
    padding-left: 3em;
    margin-top: 3em;
    margin-bottom: 0;
    li {
      height: 4em;
      position: relative;
      margin-bottom: 1em;
      &:nth-last-child(1) {
        span {
          display: inline-block;
          padding-top: 3%;
        }
      }
      &::before {
        content: '';
        width: 3em;
        height: 3em;
        left: -4em;
        position: absolute;
        @media all and (max-width: $screen-tablet) {
          width: 2em;
          height: 2em;
          left: -2.5em;
        }
        @media all and (max-width: $screen-phone) {
          width: 1.5em;
          height: 1.5em;
          left: -2em;
          top: .5em;
        }
      }
      &:nth-child(1)::before {
        background: url("../img/icons/features-icon-1.png") no-repeat center;
        background-size: contain;
      }
      &:nth-child(2)::before {
        background: url("../img/icons/features-icon-2.png") no-repeat center;
        background-size: contain;
      }
      &:nth-child(3)::before {
        background: url("../img/icons/features-icon-3.png") no-repeat center;
        background-size: contain;
      }
      &:nth-child(4)::before {
        background: url("../img/icons/features-icon-4.png") no-repeat center;
        background-size: contain;
      }
      &:nth-child(5)::before {
        background: url("../img/icons/features-icon-5.png") no-repeat center;
        background-size: contain;
      }
    }
  }
  //end features-1

  //features-2
  .features-2 {
    background: $features-2-color url("../img/features-block2-bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 2em;
    .text-wrapper-features-2 {
      padding: 0 10%;
      @media all and (max-width: $screen-phone) {
        padding: 0;
      }
    }
    .sub-header {
      margin-bottom: 1em;
      min-height: 60px;
    }
    h4 {
      color: white;
      font-family: 'LatoWebBold', sans-serif;
      padding-top: 2em;
    }
    i {
      color: $font-color2;
    }
    .stairway {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 9em;
    }
    .features-block {
      min-height: 125px;
    }
    .stairway-line {
      background: url("../img/stairway-line.png") no-repeat center;
      height: 9px;
      margin-left: -17px;
      margin-right: -17px;
      margin-top: 9em;
    }
  }
}