//block1-2

header {
  margin-top: 104px;
  min-height: 566px;
  max-height: 566px;
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;
  .navbar-default {
    background: transparent url("../img/nav-bg.jpg") center repeat;
    border: none;
  }
  .navbar-nav {
    @media all and (max-width: $screen-md-max) and (min-width: $screen-phone) {
      li {
        display: inline-block;
      }
    }
    a {
      font-family: 'LatoWebBold', sans-serif;
      font-size: 115%;
      cursor: url("../img/pointer.png"), pointer;
      &:hover {
        @media screen and (min-width: $screen-md-max) {
          box-shadow: inset 0 -7px 0 0 $gold-color;
        }
      }
    }
    li {
      transition: .5s all ease-out;
      &.active {
        @media screen and (min-width: $screen-md-max) {
          box-shadow: inset 0 -7px 0 0 $gold-color;
        }
      }
    }
  }
  .main-header {
    margin-top: 10%;
    @media all and (max-width: $screen-sm-min) {
      margin-top: 5%;
    }
  }
}

.navbar-brand {
  padding-top: 35px;
  background: url("../img/logo.jpg") no-repeat center left;
  @media all and (max-width: $screen-tablet) {
    font-size: 14px;
  }
  @media all and (max-width: $screen-phone) {
    font-size: 12px;
    background-size: 20%;
  }
}
