.feedback-modal {
  @media screen and (max-width: $screen-sm-min) {
    font-size: 10px;
  }
  .modal-header {
    opacity: .8;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
  }

  .modal-content {
    border-radius: 3px;
    padding: 1.5em;
  }
  .modal-body {
    -webkit-box-shadow: 0 0 0 5px $brand-info;
    -moz-box-shadow: 0 0 0 5px $brand-info;
    box-shadow: 0 0 0 5px $brand-info;
    border-radius: 3px;
  }
  .hidden-input {
    width: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    position: absolute;
    border: none;
  }
  .input-group {
    margin-bottom: .5em;
    padding: .2em;
    width: 100%;
  }
  input[type='text'] {
    border: 1px solid $gray-lighter;
    &:focus,
    &:active {
      border-color: $brand-info;
    }
  }
  .btn {
    width: 80%;
    margin-bottom: 1em;
    font-style: normal;
    height: 3em;
    padding: 0;
    line-height: 3em;
  }
  input, .message {
    padding: 1em;
    width: 80%
  }
  input[type="submit"] {
    padding: 0;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  .message {
    resize: none;

  }
}

.products-modal {
  .spacer {
    padding-top: 65%;
  }
  .photo-block {
    background-size: cover;
  }
}

.master-modal {
  .modal-content {
    padding: 2em 0 0;
    background: url("../img/masters-modal-bg.jpg") no-repeat left center;
    background-color: $master-modal-bg;
    background-size: contain;
  }
  .modal-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .staff-modal-block {
    color: white;
  }
  li {
    color: $modal-light-grey;
    position: relative;
    margin-bottom: 5px;
    &::before {
      font-family: FontAwesome, serif;
      position: absolute;
      width: 10px;
      height: 10px;
      color: white;
      top: 0;
      left: -15px;
    }
    &:nth-child(1):before {
      content: '\f017';
    }
    &:nth-child(2):before {
      content: "\f02c";
    }
    &:nth-child(3):before {
      content: "\f040";
    }
    &:nth-child(4):before {
      content: "\f129";
    }
  }
  .modal-close {
    background: none;
    border: none;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    z-index: 999;
    right: .5em;
    top: .5em;
    font-size: 1.5em;
    color: white;
  }
  .staff-modal-legend {
    color: white;
    margin-right: -30px;
    @media all and (max-width: $screen-sm-min) {
      font-size: 1em;
      margin-right: 0;
    }
  }
  .staff-legend {
    margin: 0 -15px;
    @media all and (max-width: $screen-sm-min) {
      margin: 0 auto;
    }
  }
  .staff-form {
    margin: 2em auto 0;
    @media all and (max-width: $screen-sm-min) {
      margin: 0 auto;
    }
  }
  .legend-header {
    margin: 0;
    color: white;
  }
}
