//BLOCK 4
.section-production {
  background: $features-2-color;
  padding-top: 5em;
  padding-bottom: 2em;
  .section-header {
    margin-bottom: 2em;
  }
  .item-row .item {
    background-color: rgba(255, 255, 255, .15);
    text-align: center;
    padding: .1px 0 1em;
    max-width: 255px;
    margin: 0 auto 5.5em;
    @media all and (max-width: $screen-tablet) {
      margin: 0 auto 2.5em;
    }
  }
  .item-header {
    font-family: 'LatoWebBold', sans-serif;
    text-transform: uppercase;
    white-space: pre-line;
    margin: 0;
    color: white;
  }
  .item-photo {
    margin: 0 auto;
    padding-top: 112%;
    &.dveri-zerkalnie {
      background: transparent url("../img/goods/dveri-zerkalnie.jpg") no-repeat center;
      background-size: cover;
    }
    &.dveri-gluhie-dsp {
      background: transparent url("../img/goods/dveri-gluhie-dsp.jpg") no-repeat center;
      background-size: cover;
    }
    &.dveri-peskostruy {
      background: transparent url("../img/goods/dveri-peskostruy.jpg") no-repeat center;
      background-size: cover;
    }
    &.dveri-fotopechat {
      background: transparent url("../img/goods/dveri-fotopechat.jpg") no-repeat center;
      background-size: cover;
    }
    &.dveri-lakobel-oracal {
      background: transparent url("../img/goods/dveri-lakobel-oracal.jpg") no-repeat center;
      background-size: cover;
    }
    &.dveri-kombinirovannie {
      background: transparent url("../img/goods/dveri-kombinirovannie.jpg") no-repeat center;
      background-size: cover;
    }
  }
  .item-button {
    background: white;
    width: 10em;
    position: absolute;
    left: 50%;
    margin-left: -5em;
    bottom: 7%;
  }
  .production-form {
    input[type="text"], textarea {
      &:active,
      &:focus {
        border-color: $copper-color;
      }
    }
  }
  @media all and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
    .production-form {
      margin: 0 auto;
      width: 80%;
      padding-top: 1em;
      input[type="text"], button[type="submit"], textarea {
        margin-bottom: .45em;
      }
    }
  }

  @media all and (max-width: $screen-md-min) {
    .production-form {
      padding-top: 1em;
      margin: 0 auto;
    }
  }
  //carousel
  .features-carousel {
    .carousel-content {
      text-align: center;
      position: relative;
      padding-top: 4%;
      background-repeat: no-repeat;
      background-size: cover;
      &.item1 {
        background-image: url("../img/newprod/slide1-hires.jpg");
        @media all and (max-width: $screen-sm-min) {
          background-image: url("../img/newprod/slide1-lowres.jpg");
        }
      }
      &.item2 {
        background-image: url("../img/newprod/slide2-hires.jpg");
        @media all and (max-width: $screen-sm-min) {
          background-image: url("../img/newprod/slide2-lowres.jpg");
        }
      }
      &.item3 {
        background-image: url("../img/newprod/slide3-hires.jpg");
        @media all and (max-width: $screen-sm-min) {
          background-image: url("../img/newprod/slide3-lowres.jpg");
        }
      }
      &.item4 {
        background-image: url("../img/newprod/slide4-hires.jpg");
        @media all and (max-width: $screen-sm-min) {
          background-image: url("../img/newprod/slide4-lowres.jpg");
        }
      }
      &.item5 {
        background-image: url("../img/newprod/slide5-hires.jpg");
        @media all and (max-width: $screen-sm-min) {
          background-image: url("../img/newprod/slide5-lowres.jpg");
        }
      }
      &.item6 {
        background-image: url("../img/newprod/slide6-hires.jpg");
        @media all and (max-width: $screen-sm-min) {
          background-image: url("../img/newprod/slide6-lowres.jpg");
        }
      }

    }
    .carousel-indicators {
      text-align: left;
      margin-left: 0;
      left: 3%;
      bottom: -2%;
      li {
        border-color: transparent;
        background: $pr-carousel-indicator-bg;
        width: 7px;
        height: 7px;
        &.active {
          background: $pr-carousel-indicator-active-bg;
          margin: 1px;
        }
      }
    }
    .fa {
      position: absolute;
      top: 50%;
      margin-top: -1em;
    }
    .carousel-control {
      &.left, &.right {
        background: none;
      }
      &.left {
        .fa {
          left: .5em;
        }
      }
      .right {
        .fa {
          right: .5em;
        }
      }
    }
  }

  @media all and (min-width: $screen-sm-min) {
    .production-form {
      margin-left: -15px;
    }
    .features-carousel {
      margin-right: -15px;
    }
  }
}

