//BLOCK 8

.section-staff {
  padding-top: 2.2em;
  padding-bottom: 2em;
  background: url("../img/masters-bg.jpg");
  .btn-staff {
    margin: 0 1em;
  }
  i.fa {
    vertical-align: middle;
  }
}

.master-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.staff-card {
  max-width: 380px;
  margin: 0 auto;
}

.staff-photo {
  max-width: 190px;
  border-radius: 100%;
  margin: 0 auto 2em;
  &.m1 {
    background: url("../img/m1.jpg") no-repeat center;
    background-size: cover;
  }
  &.m2 {
    background: url("../img/m2.jpg") no-repeat center;
    background-size: cover;
  }
}

.staff-legend {
  span {
    font-size: 1.4em;
  }
  p {
    font-size: 1.1em;
    margin-top: 10px;
  }

}