//BLOCK 5

.section-warranty {

  padding-top: 3.1em;
  .section-header {
    max-width: 790px;
    margin: 0 auto 1em;
  }
  h2 {
    color: $font-color4;
  }
  .section-sub-header, .carousel-content p {
    color: $font-color1;
  }

  //CAROUSEL

  .carousel-item-header {
    color: $font-color4;
    font-family: 'LatoWebSemibold', sans-serif;
  }
  .warranty-icon {
    padding-top: 100%;
    background: url("../img/warranty-icon.png") no-repeat center;
    background-size: 100%;
  }
  .carousel-content {
    height: 200px;
    padding-top: 1em;
  }
  .warranty-carousel {
    height: 250px;
    margin-bottom: 60px;
    .item {
      overflow: hidden;
      height: 200px;
    }
  }
  .carousel-control {
    background: none;
  }
  .carousel-inner .active.left {
    &.active {
      .left {
        left: -33%;
      }
    }
  }
  .carousel-inner {
    .next {
      left: 33%;
    }
  }
  .carousel-inner {
    .prev {
      left: -33%;
    }
  }
  .item:not(.prev) {
    visibility: visible;
  }
  .item.right:not(.prev) {
    visibility: hidden;
  }
  .rightest {
    visibility: visible;
  }
  .warranty-action {
    background: url("../img/warranty-action-bg.jpg") center no-repeat;
    background-size: cover;
    padding-top: 1.5em;
    padding-bottom: 3em;
    @media all and (max-width: $screen-tablet) {
      padding-bottom: 1.5em;
    }
    .action-header {
      max-width: 90%;
      margin: 0 auto 1em;
    }
  }
}

