# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files


/.idea/
addons
bower_components
node_modules
.sass-cache
css/*.css
css/styles.css.map
js/plugins.min.js